h1:hover, p:hover {
    background-color: lightgray;
}
 
h1 {
    text-align: center;
    font-size: 3em;
}

p {
    text-align: center;
    font-size: 1.75em;
}

h2 {
    font-size: 2.25em;
    text-align: center;
    background-color: #003963;
    text-decoration: underline;
    color: white;
    margin: auto;
}

h1, h2, p, a {
    font-family: "Arial";
}

.text {
    margin: 0% 20%;
}

