body {
    background-color: black;
}

h1 {
    color: white;
    font-family: monospace;
    font-size: 360%;
    margin-top: 200px;
    text-align: center;
}

h2 {
    color: white;
    font-family: monospace;
    font-size:160%;
    margin-bottom: 100px;
    
}


p {
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: 130%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    transition:background .2s ease-in;
}

a:link, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: white;
    text-decoration: underline;
}

.topbar {
    color: white;
    font-size: 16px;
    font-family: monospace;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topbar li, .essay li {
    display: inline-block;
    padding: 30px 20px;
}

final, iframe {
    margin: 0 auto;
    background-color: #777;
}

iframe {
    display: block;
    border-style:none;
}

